@media only screen and (min-width: 38rem) {

    body, header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    header{
        grid-template-columns: 24px auto 315px;
    }
    h1 {
        max-width: 900px;
        margin-left: 55px;
    }
    main {
        display: flex;
        align-content: center;
        justify-content: center; 
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
        width: fit-content;
        padding: .8rem 10px;
    }

    .navigation li {
        width: fit-content;
    }

    .navigation li.current {
        width: 80px
    }

    #cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3px 0px 3px 0px;
        width: 100%;
        padding-left: 5%;
         
    }

    #cards section {
        margin-left: 3px;
        width: 250px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}