/* -------------Color Scheme------------  */

.first-color { 
	background: #d9dad7; 
}
	
.second-color { 
	background: #c24d2c; 
}

.third-color { 
	background: #3e4a61; 
}

.fourth-color { 
	background: #1a2639; 
}


/*------------General---------*/


body {
    display: flex;
    flex-direction: column;
    align-items:self-end;
    font-family: "Montenegrin Gothic One", serif;
    height: 100dvh;
}

nav {
    min-width: 100%;
    padding-right: 10px;
    background: #1a2639;
}

main {
    min-width: 100%;
    text-align: center;
}

h1 {
    text-align: left;
}

h2 {
    border: #eee solid 1px;
	background: #1a2639; 
    color: #d9dad7; 
}

section {
    background: #d9dad7; 
}
/*------------Header---------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    min-width: 100%;
    background: #d9dad7;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color:#1a2639;
}

/*------------Hamburger----------*/
.hamburger {
    background: none;
    border: none;
    color:#1a2639;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/*--------Navigation ------------*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    background: #3e4a61; 

    text-decoration: none;
    border-bottom: solid 1px #ddd;
    color: white;

}

.navigation li.current {
    background-color: #ddd;
    color: #1a2639;
    border: solid #c24d2c 1px;
}

.navigation a:hover {
	background: #ddd;
    color: #1a2639; 
}

/*--------courses ------------*/
.courses button {
    cursor: pointer;
    min-width: 65px;
    margin-left: 30px;
}

.courses button:hover {
    background: #3e4a61;
    color: white; 
}

.courses {
    text-align: center;
}
/*--------Footer ------------*/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    margin-bottom: 0;
    text-align: Center;
    width: 100dvw;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 22px;
    background: white;
    width: 48px;
    height: 48px;
}

.social img {
    width: 48px;
    height: 48px;
    
}

.social a:hover {
    background: #3e4a61; 
    color: black;
}

#classes {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classes li {
    border: #eee solid 1px;
    width: 259px;
    margin-right: 13px;
}

